{
  "parser": "babel-eslint",
    "extends": [
        "standard", 
        "standard-react", 
        "plugin:testcafe/recommended", 
        "plugin:jest/recommended"
      ],
    "plugins": ["babel", "react", "promise", "testcafe", "jest"],
    "env": {
      "browser": true,
      "commonjs": true,
      "node": true,
      "es6": true
    },
    "globals": {
      "google": false
    },
    "parserOptions": {
      "ecmaFeatures": {
        "ecmaVersion": 6,
        "jsx": true
      }
    },
    "rules": {
      "jsx-quotes": [2, "prefer-single"],
      "object-curly-spacing": [2, "always"],
      "camelcase": 0,
      "react/react-in-jsx-scope": "off"
    }
  }
